<!DOCTYPE html>
<!-- <html ng-app="teknobiz" manifest="otdc.appcache"> -->
<html ng-app="teknobiz">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OTDC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- <link rel="stylesheet" href="css/built.min.css">
    <script src="lib.js"></script>
    <script src="built.js"></script> -->


    <link rel="stylesheet" href="css/vendor.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app-seagreen.css">
    <link rel="stylesheet" href="css/ng-table.min.css">
    <link rel="stylesheet" href="css/custom.css">


    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/ng-table.min.js"></script>
    <script src="lib/angular/angular-ui-router.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/ng-animate.js"></script>
    <script src="lib/angular/ngStorage.min.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
    <script src="lib/angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <!-- Theme initialization -->
    <script src="src/modules/validation.js"></script>
    <script src="src/modules/eventHandler.js"></script>
    <script src="src/modules/authentication.js"></script>
    <script src="src/modules/webService.js"></script>
    <script src="src/app.js"></script>
    <script src="src/services/userService.js"></script>
    <script src="src/constants.js"></script>

    <script src="src/controller/Common/mainController.js"></script>
    <script src="src/controller/Tender/addTendorController.js"></script>
    <script src="src/controller/Tender/tenderListCtrl.js"></script>
    <script src="src/controller/Tender/tenderDetailsController.js"></script>
    <script src="src/controller/Tender/tenderAssignController.js"></script>
    <script src="src/controller/User/userController.js"></script>
    <script src="src/controller/Vendor/vendorcontroller.js"></script>
    <script src="src/controller/Vendor/editVendorController.js"></script>
    <script src="src/controller/User/userListController.js"></script>
    <script src="src/controller/User/userDetailsController.js"></script>
    <script src="src/directive/dateviewer.js"></script>
    <script src="src/directive/numberOnly.js"></script>
    <script src="src/directive/fileSelect.js"></script>
    <script src="src/directive/history.js"></script>
    <script src="src/directive/dateInput.js"></script>
    <script src="src/filter/filter.js"></script>
    <script src="src/services/envService.js"></script>
    <script src="src/controller/Tender/tenderMilestoneCtrl.js"></script>
    <script src="src/services/utilityService.js"></script>
</head>
<body ng-controller="Main_Controller" ng-init="getUserDetails()">
<div class="" ng-if="!loggedin">
  <div ui-view></div>
</div>
<div class="" ng-if="loggedin">
  <div class="main-wrapper">
    <div class="app header-fixed sidebar-fixed" id="app">
      <div ng-include="'src/views/header.html'" ng-controller="LoginController"></div>
      <div ng-include="'src/views/sidebar.html'" ></div>
      <div ui-view ng-init="init()"></div>
      <div ng-include="'src/views/footer.html'"></div>
    </div>
  </div>
</div>
<section class="alert-message">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close($index)">{{alert.msg}}</uib-alert>
    <!-- <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert> -->
</section>
<!-- jQuery 2.2.0 -->
  </body>
</html>
