<article class="content dashboard-page">
      <section class="section">
        <div class="row">
          <div class="col-md-6">
						<div class="card card-info">
							<div class="card-header">
                  <div class="header-block">
                      <p class="title"> Personal Information</p>
                  </div>
              </div>
							<div class="card card-block">
								<form name="addEmployee">
									<div class="form-group" ng-class="{'has-error':addEmployee.emp_id.$touched && addEmployee.emp_id.$invalid}">
										<label for="id">Employee ID</label>
										<input type="text" class="form-control" placeholder="ID" name="emp_id" ng-model="employee.emp_id" required>
                    <span ng-show="addEmployee.emp_id.$touched && addEmployee.emp_id.$invalid" class="has-error">Please Enter Employee ID</span>
									</div>
									<div class="form-group row" ng-class="{'has-error':(addEmployee.first_name.$touched && addEmployee.first_name.$invalid) || (addEmployee.last_name.$touched && addEmployee.last_name.$invalid)}">
										<div class="col-md-6" >
											<label for="name">First Name</label>
											<input type="text" class="form-control" name="first_name" placeholder="First Name" ng-model="employee.first_name" required>
                      <span class="has-error" ng-show="addEmployee.first_name.$touched && addEmployee.first_name.$invalid">Please Enter First Name</span>
										</div>
										<div class="col-md-6">
											<label for="name">Last Name</label>
											<input type="text" class="form-control" name="last_name" placeholder="Last Name" ng-model="employee.last_name" required>
                      <span class="has-error" ng-show="addEmployee.last_name.$touched && addEmployee.last_name.$invalid">Please Enter Last Name</span>
										</div>
									</div>
									<div class="form-group">
										<label for="email">Email Address</label>
										<input type="email" class="form-control" name="personal_email" placeholder="Personal Email" ng-model="employee.per_email">
                    <span class="has-error">Please Enter Personal mail address</span>
                    <span class="has-error">Please Enter Valid mail address</span>
									</div>
									<div class="form-group row">
										<div class="col-md-6">
											<label for="name">Gender</label>
											<select class="form-control" name="gender" ng-model="employee.gender">
												<option value="Male">Male</option>
												<option value="Female">Female</option>
											</select>
                      <span class="has-error">Please Choose the gender</span>
										</div>
										<div class="col-md-6">
											<label for="name">Marital Status</label>
											<select class="form-control" ng-model="employee.merital_status" name="marital_status">
												<option value="Married">Married</option>
												<option value="Unmarried">Unmarried</option>
											</select>
                      <span class="has-error">Please Choose Marital status</span>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-6">
											<label for="name">Designation</label>
											<input type="text" class="form-control" name="designation" placeholder="Developer" ng-model="employee.designation">
										</div>
                    <div class="col-md-6">
											<label for="name">Mobile</label>
											<input type="numer" class="form-control" name="mobile" placeholder="+91 1234567809" ng-model="employee.mobile">
										</div>
									</div>
									<div class="form-group row">
                    <div class="col-md-6">
											<label for="name">Birthday</label>
											<input type="text" class="form-control" name="dob" placeholder="25-june-2016" ng-model="employee.dob">
										</div>
                    <div class="col-md-6">
											<label for="name">Date of Joining</label>
											<input type="text" class="form-control" name="doj" placeholder="25-june-2016" ng-model="employee.doj">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-6">
											<label for="name">City</label>
											<input type="text" class="form-control" name="city" placeholder="City" ng-model="employee.city">
										</div>
										<div class="col-md-6">
											<label for="name">State</label>
											<input type="text" class="form-control" name="state" placeholder="State" ng-model="employee.state">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-6">
											<label for="name">Postal</label>
											<input type="text" class="form-control" name="postal" placeholder="751001" ng-model="employee.postal">
										</div>
										<div class="col-md-6">
											<label for="name">Country</label>
											<input type="text" class="form-control" name="country" placeholder="India" ng-model="employee.country">
										</div>
									</div>
									<div class="form-group">
										<label for="email">Address</label>
										<textarea rows="3" class="form-control" name="address" placeholder="207, Saheed Nagar Bhubaneswar Orissa,India Pin-751007" ng-model="employee.address"></textarea>
									</div>
									<!-- <div class="form-group"> <button type="submit" class="btn btn-primary">Submit</button> </div> -->
								</form>
							</div>
						</div>
          </div>

					<div class="col-md-6">
						<div class="row">
							<!-- <div class="col-md-12 m-b-10">
								<div class="card card-info">
									<div class="card-header">
										<div class="header-block">
											<p class="title"> Upload Photo</p>
										</div>
									</div>
									<div class="card card-block">
											<div class="row">
												<div class="col-md-4">
													<div class="profile-img">
														<img src="assets/faces/3.jpg" />
													</div>
													<div class="fileUpload btn btn-gray m-t-10 m-l-30">
														<span>Upload Photo</span>
														<input type="file" class="upload" name="resume">
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														<label for="email">About</label>
														<textarea rows="6" class="form-control" id="address" placeholder=""></textarea>
													</div>
												</div>
										</div>
									</div>
								</div>
							</div> -->
							<div class="col-md-12">
								<div class="card card-info">
									<div class="card-header">
										<div class="header-block">
											<p class="title"> Professional Information</p>
										</div>
									</div>
									<div class="card card-block">
										<form role="form">
											<div class="form-group">
												<label for="id">Education Qualification</label>
												<input type="text" class="form-control" name="id" placeholder="Education Qualification" ng-model="employee.qualification">
											</div>

											<div class="form-group">
												<label for="email">Professional Qualification</label>
												<input type="text" class="form-control" id="email" placeholder="Professional Qualification" ng-model="employee.pro_qualification">
											</div>
											<div class="form-group row">
                        <div class="col-md-6">
                          <label for="email">Previous Company</label>
  												<input type="text" class="form-control" id="email" placeholder="Previous Company Name" ng-model="employee.pre_company">
                        </div>
                        <div class="col-md-6">
                          <label for="name">Designation</label>
                          <input type="text" class="form-control" id="name" placeholder="Senior Developer" ng-model="employee.ddd ">
                        </div>
											</div>
											<div class="form-group row">
												<div class="col-md-6">
													<label for="name">Year of Experience</label>
													<input type="id" class="form-control" name="exp" placeholder="4 year" ng-model="employee.year_of_exp">
												</div>
												<div class="col-md-6">
                          <label for="email">Office Email</label>
      										<input type="email" class="form-control" name="office_email" placeholder="Personal Email" ng-model="employee.email">
												</div>
											</div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label for="name">Create Password</label>
                          <input type="password" class="form-control" name="password" placeholder="**********" ng-model="employee.password">
                        </div>
                        <div class="col-md-6">
                          <label for="name">Confirm Password</label>
                          <input type="password" class="form-control" name="cpassword" placeholder="**********" ng-model="employee.cpassword">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label">Leave Approver</label>
                        <div>
                          <label>
  			                    <input class="radio" name="inline-radios" type="radio" value="Yes" ng-model="employee.leaveApprover">
  			                    <span>Yes</span>
	                        </label>
                          <label>
  			                    <input class="radio" name="inline-radios" type="radio" value="No" ng-model="employee.leaveApprover">
  			                    <span>No</span>
    			                </label>
                        </div>
                      </div>
											<div class="form-group"> <button type="submit" class="btn btn-primary" ng-click="addEmployee()">Submit</button> </div>
										</form>
									</div>
								</div>
							</div>
						</div>
          </div>
        </div>
    </section>
  </article>
