<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo" ui-sref="dashboard"><img src="assets/otdclogo.png"> </div>
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <li ng-class="{'active':stateName=='dashboard'}">
          <a ui-sref="dashboard"> <i class="fa fa-home"></i>Dashboard</a>
        </li>
        <li ng-class="{'active':stateName=='AddTender'}">
          <a ui-sref="AddTender"> <i class="fa fa-home"></i>AddTender</a>
        </li>
        <li class="open">
          <a href=""><i class="fa fa-th-large"></i> User Manager <i class="fa arrow"></i> </a>
             <ul class="collapse in">
                  <li>
                    <a ui-sref="UserList">
                     User List
                   </a>
                 </li>
                 <li>
                   <a ui-sref="AddUser">
                     Add User
                   </a>
               </li>
           </ul>
         </li>
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
