<article class="content forms-page" ng-init="billingInit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-block sameheight-item">
                <div class="title-block">
                    <h3 class="title">
                        Billing Details
                    </h3>
                </div>
                <form name="generateBillingForm" role="generateBillingForm">

                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Select Tender</label>
                        <select ng-options="tender as tender.tndId+'  -  '+tender.tenderType for tender in billing.tenderList track by tender.tenderId" ng-model="billing.selectedTender" ng-change="selectTender(billing.selectedTender)" class="form-control formInput" name="Tender_Type"></select>
                        <!-- <span class="help-block" ng-show="billing.Tender_Type.$error.required && billing.Tender_Type.$touched">select one</span> -->
                    </fieldset>
                    <!-- tender details a custom html tag to show  the tender details -->
                    <billing ng-if="billing.selectedTender">
                          <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender Id</label>
                            <input type="text" ng-model="billing.selectedTender.tndId" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender category</label>
                            <input type="text" ng-model="billing.selectedTender.category" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender tenderType</label>
                            <input type="text" ng-model="billing.selectedTender.tenderType" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender workDescription</label>
                            <input type="text" ng-model="billing.selectedTender.workDescription" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Vendor Name :</label>
                            <!-- <input type="text" ng-model="billing.selectedTender.vendorInfo[0].vendorName" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput"> -->
                            <select ng-options="vendor as vendor.vendorName for vendor in billing.selectedTender.vendorInfo track by vendor.vendorId" ng-model="billing.selectedTender.selectedVendor" ng-change="selectVendor(billing.selectedTender.selectedVendor)" class="form-control formInput" name="Tender_Type"></select>
                        </fieldset>
                        <fieldset class="form-group">
                          <div class="card card-block sameheight-item">
                              <div class="title-block">
                                  <h3 class="title">
                                    Billing
                                  </h3>
                              </div>
                          <div class="table-responsive h-500px border-wrap">
                              <table class="table table-striped table-bordered table-hover boqDetailsTable">
                                  <thead>
                                      <tr>
                                          <th ng-repeat="th in UtilityService.getTableHeaders('billing', billing.selectedTender.boqData[0])" ng-if="UtilityService.isAllowedHeader('billing',th)">{{th}}</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr uib-tooltip="locked for billing" tooltip-enable="boq.invoiceIsLocked" ng-repeat="boq in billing.selectedTender.boqData" ng-class="{'selected': boq.isChecked,'locked':boq.invoiceIsLocked}">
                                          <td ng-repeat="th in UtilityService.getTableHeaders('billing',billing.selectedTender.boqData[0])" ng-if="UtilityService.isAllowedHeader('billing',th)">
                                              <div>
                                                <label ng-if="th == 'slNo'">
                          			                    <input ng-disabled="boq.invoiceIsLocked" class="radio squared" ng-model="boq.isChecked" name="squared-radios" type="checkbox">
                          			                    <span>{{boq[th]}}</span>
                          			                </label>
                                                <input type="number" ng-if="th == 'completedUnit' && !boq.invoiceIsLocked" ng-model="boq.completedUnit" min="{{boq.unitPaid}}" max={{boq.quantity}}/>
                                                <span ng-if="th != 'completedUnit' && th != 'slNo'">{{boq[th]}}</span>
                                              </div>
                                              <!-- <div ng-if="th != 'slNo'">
                                                <span>{{boq[th]}}</span>
                                              </div> -->
                                          </td>
                                      </tr>

                                  </tbody>
                              </table>

                          </div>
                          <div class="form-group m-t-20">
                            <button class="btn btn-success" ng-click="generateBill()" ng-disabled="generateBillingForm.$invalid">Generate Bill</button>
                          </div>
                          </div>
                        </fieldset>

                        <fieldset class="form-group">
                          <div class="card card-block sameheight-item">
                              <div class="title-block">
                                  <h3 class="title">
                                       Tender Billing History :
                                  </h3>
                              </div>
                              <div class="table-responsive" ng-init="getInvoices()">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Total Amount</th>
                                            <th>Total Amount after Tax</th>
                                            <th>Holding Amt</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="pointer" ng-repeat="invoice in  billing.invoices" ng-click="getInvoiceDetails(invoice.id)">
                                            <td>{{invoice.id}}</td>
                                            <td>{{invoice.totalAmount}}</td>
                                            <td>{{invoice.totalAmountAfterTax}}</td>
                                            <td>{{invoice.holdingAmountAmt}}</td>
                                            <td>{{invoice.sts}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </div>
                        </fieldset>

                    </billing>

                </form>
            </div>
        </div>
    </div>
</article>
