<article class="content forms-page" ng-init="billingInit()">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-pill-left btn-primary btn-capsule" ui-sref="addProjectMilestone({tenderId:projectMilestone.selectedTender.tenderId})">Add Milestone</button>
            <div class="card card-block sameheight-item">
                <div class="title-block">
                    <h3 class="title">
                        Tender Details
                    </h3>
                </div>
                <form name="projectMilestoneForm" role="projectMilestoneForm">

                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Select Tender</label>
                        <select ng-options="tender as tender.tndId+'  -  '+tender.tenderType for tender in projectMilestone.tenderList track by tender.tenderId" ng-model="projectMilestone.selectedTender" ng-change="selectTender(projectMilestone.selectedTender)" class="form-control formInput" name="Tender_Type"></select>
                        <!-- <span class="help-block" ng-show="projectMilestone.Tender_Type.$error.required && projectMilestone.Tender_Type.$touched">select one</span> -->
                    </fieldset>
                    <!-- tender details a custom html tag to show  the tender details -->
                    <tender-details ng-if="projectMilestone.selectedTender">
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender Id</label>
                            <input type="text" ng-model="projectMilestone.selectedTender.tndId" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender category</label>
                            <input type="text" ng-model="projectMilestone.selectedTender.category" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender tenderType</label>
                            <input type="text" ng-model="projectMilestone.selectedTender.tenderType" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label" for="formGroupExampleInput">Tender workDescription</label>
                            <input type="text" ng-model="projectMilestone.selectedTender.workDescription" ng-readonly="true" class="form-control formInput" id="formGroupExampleInput">
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="card-title-block">
                                <h3 class="title">
                                    Project Milestone
                                </h3>
                            </div>
                            <section class="example">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Tender Id</th> -->
                                            <th>Milestone Name</th>
                                            <th>Estimation</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="milestone in projectMilestone.milestoneList">
                                            <td>{{$index+1}}</td>
                                            <!-- <td>{{milestone.tndId}}</td> -->
                                            <td>{{milestone.name}}</td>
                                            <td>{{milestone.estimation}}</td>
                                            <td>{{milestone.startDate|filterDate}}</td>
                                            <td>{{milestone.endDate|filterDate}}</td>
                                            <td>{{milestone.amountInRs}}</td>
                                            <td>{{milestone.status}}</td>
                                            <td data-title="'Action'" data-title-text="Action">
                                                <div class="row list-icon">
                                                    <div class="col-md-2 col-sm-2" ng-click="onAction('view',milestone)">
                                                        <em class="fa fa-eye"></em>View
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ng-scope" ng-click="onAction('delete',milestone)">
                                                        <em class="fa fa-trash-o"></em>Delete
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ng-scope" ng-click="onAction('review',milestone)">
                                                        <em class="fa fa-list-alt"></em>Review
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ng-scope" ng-click="onAction('history',milestone)">
                                                        <em class="fa fa-angle-double-left"></em>History
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </section>
                        </fieldset>
                    </tender-details>

                </form>
            </div>
        </div>
    </div>
</article>


<!-- delte modal -->
<script type="text/ng-template" id="deleteMilestoneModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Milestone !</h3>
    </div>
    <div class="modal-body">
        Are you sure to delete {{milestone.name}} ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="reviewHistoryModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Review history : </h3>
            <em class="fa fa-arrows-alt pull-right modalClose" ng-click="ok()"></em>
        </div>
        <div class="modal-body">

              <table ng-table="tableParams" class="table table-bordered ngTable">
                <tr ng-repeat="row in $data">
                  <td data-title="'Sl No'" >{{ ( (tableParams.page() - 1) * tableParams.count() )+($index + 1)}}</td>
                  <td data-title="'Review File'" filter="{fileName: 'text'}" sortable="'fileName'">
                    <img src="{{row.fileName}}" class="reviewImg" />
                  </td>
                  <!-- <td data-title="'User name'" filter="{userName: 'text'}" sortable="'userName'">
                    <a href="" ng-click="updateUserDetails(row)" uib-popover-template="'userDetails.html'" popover-title="User details" popover-is-open="row.isOpen">{{row.userName}}</a>

                  </td> -->
                  <td data-title="'status'" filter="{status: 'text'}" sortable="'status'">{{row.status}}</td>
                  <td data-title="'comment'" filter="{comment: 'text'}" sortable="'comment'">{{row.comment}}</td>
                  <td data-title="'createDate'" filter="{createDate: 'text'}" sortable="'createDate'">{{row.createDate|filterDate}}</td>
                </tr>
              </table>

        </div>
        <div class="modal-footer">

        </div>
</script>
