
<section>
  <div class="title-block">
        <h3 class="title">

        </h3>
  </div>
  <div class="card card-block sameheight-item" style="height: 2000px;">
          <div class="title-block">
              <h3 class="title">
  					 	  Add Tender Details
  					 </h3>
          </div>
          <form name="TenderDetails">
             <div class=" form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Organisation Chain </label>
                 <div class="col-sm-10">
                   <input type="text" class="form-control boxed">
                 </div>
            </div>
            <div class=" form-group">
               <label for="inputEmail3" class="col-sm-2 control-label">Tender Reference No</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control boxed" name="Tender_ref_No"  placeholder="Enter Tender Reference No" required ng-pattern="/^[a-zA-Z0-9]*$/">
                </div>
           </div>
           <div class=" form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Tender Type</label>
               <div class="col-sm-10">
                     <select class="form-control" name="Tender_type" required>
                       <option value="">Select Tender Type</option>
                     </select>
                     <span class="help-block" ng-show="TenderDetails.Tender_Type.$error.required && TenderDetails.Tender_Type.$touched">select one</span>
               </div>
          </div>
          <div class=" form-group">
             <label for="inputEmail3" class="col-sm-2 control-label">Tender Category</label>
              <div class="col-sm-10">
                <select class="form-control" name="Tender_category" required>
                  <option value="">Select Tender Category</option>
                </select>
                <span class="help-block" ng-show="TenderDetails.Tender_category.$error.required && TenderDetails.Tender_category.$touched">select one</span>
              </div>
         </div>
         <div class=" form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">General Technical Evaluation Allowed</label>
            <div class="col-sm-10">
              <select class="form-control" name="Technical_evaluation" required>
                <option value="">Select One</option>
                <option value="">yes</option>
                <option value="">No</option>
              </select>
              <span class="help-block" ng-show="TenderDetails.Technical_evaluation.$error.required && TenderDetails.Technical_evaluation.$touched">select one</span>
            </div>
        </div>
        <div class=" form-group">
           <label for="inputEmail3" class="col-sm-2 control-label">Payment mode</label>
            <div class="col-sm-10">
              <input type="text" class="form-control boxed" name="payment_mode"  placeholder="Enter Payment Mode" required ng-pattern="/^[a-zA-Z0-9]*$/">
            </div>
       </div>
       <div class=" form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Is Multi Currency Allowed For Fee</label>
          <div class="col-sm-10">
            <select class="form-control" name="Multi_currency_allowed" required>
              <option value="">Select One</option>
              <option value="">yes</option>
              <option value="">No</option>
            </select>
            <span class="help-block" ng-show="TenderDetails.Multi_currency_allowed.$error.required && TenderDetails.Multi_currency_allowed.$touched">select one</span>
          </div>
      </div>
      <div class=" form-group">
         <label for="inputEmail3" class="col-sm-2 control-label">Form Of Contact</label>
          <div class="col-sm-10">
            <input type="text" class="form-control boxed" name="Form_of_contact"  placeholder="Enter Form Of Contact" required ng-pattern="/^(\D)+$/">
          </div>
     </div>
     <div class=" form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">No of covers</label>
         <div class="col-sm-10">
           <input type="text" class="form-control boxed" name="No_of_covers"  placeholder="Enter No of covers" required ng-pattern="/[^0-9]/g">
         </div>
    </div>
    <div class=" form-group">
       <label for="inputEmail3" class="col-sm-2 control-label">Itemwise Technical Evaluation Allowed</label>
       <div class="col-sm-10">
         <select class="form-control" name="Technical_evaluation_allowed" required>
           <option value="">Select One</option>
           <option value="">yes</option>
           <option value="">No</option>
         </select>
       </div>
   </div>
   <div class=" form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Is Multi Currency Allowed For BOQ</label>
      <div class="col-sm-10">
        <select class="form-control" name="BOQ_currency" required>
          <option value="">Select One</option>
          <option value="">yes</option>
          <option value="">No</option>
        </select>
      </div>
  </div>
  <div class=" form-group">
     <label for="inputEmail3" class="col-sm-2 control-label">Tender Fee</label>
      <div class="col-sm-10">
        <input type="text" class="form-control boxed" name="Tender_fee"  placeholder="Enter Tender Fee" required ng-pattern="/[^0-9]/g">
      </div>
 </div>
 <div class=" form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Fee Payble To</label>
     <div class="col-sm-10">
       <input type="text" class="form-control boxed" name="Fee_payble_to"  placeholder="Enter Fee payble To" required  ng-pattern="/^(\D)+$/">
     </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">VAT Charges</label>
    <div class="col-sm-10">
      <input type="text" class="form-control boxed" name="vat_changes"  placeholder="Enter VAT Charges" required ng-pattern="/[^0-9]/g">
    </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Fee Payble At</label>
    <div class="col-sm-10">
      <input type="text" class="form-control boxed" name="Fee_payble_at"  placeholder="Enter Fee payable at" required ng-pattern="/^(\D)+$/">
    </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">EMD Fee Type</label>
    <div class="col-sm-10">
      <input type="text" class="form-control boxed" name="EMD_feetype"  placeholder="Enter EMD Fee Type"required ng-pattern="/^(\D)+$/">
    </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">EMD Payble To</label>
    <div class="col-sm-10">
      <input type="text" class="form-control boxed" name="emd_payble_to"  placeholder="Enter EMD Payble To" required ng-pattern="/^(\D)+$/">
    </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">EMD Exemption Allowed</label>
   <div class="col-sm-10">
     <select class="form-control" name="Exemption_allowd" required>
       <option value="">Select One</option>
       <option value="">yes</option>
       <option value="">No</option>
     </select>
   </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">EMD Percentage</label>
    <div class="col-sm-10">
      <input type="text" class="form-control boxed" name="EMD_Percentage"  placeholder="Enter EMD Percentage"required ng-pattern="/[^0-9]/g">
    </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">EMD Payble At</label>
    <div class="col-sm-10">
      <input type="text" class="form-control boxed" name="EMD_payble_at"  placeholder="Enter EMD Payble At" required  ng-pattern="/^(\D)+$/">
    </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control boxed" name="Title"  placeholder="Enter Tender Title" required ng-pattern="/^(\D)+$/">
    </div>
</div>
<div class=" form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Work Description</label>
    <div class="col-sm-10">
      <textarea name="work_Desc" class="form-control" rows="4" placeholder="Work Description" required ng-pattern="/^(\D)+$/"></textarea>
    </div>
</div>
<div class=" form-group col-sm-5">
   <button type="button" class="btn btn-oval btn-success adduser">Update</button>
</div>
 </form>
  </div>
</section>
