<section class="content title-block forms-page add tender button ng-scope">
  <div class="card card-block sameheight-item" style="height: 1500px;">
          <div class="title-block">
              <h3 class="title tenderdetailstitle">
  					 	  eProcurement System Goverment of Odisha
  					 </h3>
          </div>
          <form name="TenderDetails fontclass">
                <div class="row">
                    <div class="col-sm-6">
                      <img src="assets/odishalogo.jpg"  style="width:80px;height:90px;">
                    </div>
                    <div class="col-sm-6">
                      Tender Details
                    </div>
               </div>
               <hr>
               <div class="row">
                   <div class="col-sm-12 date" >
                       Date:11/9/2016
                   </div>
              </div>
             <div class="container">
                  <p>Basic Details:</p>
              <table class="table table-bordered">
                <tbody>
                  <tr >
                    <td style="width: 178px;">Organisation Chain</td>
                    <td colspan="6">123</td>
                  </tr>
                  <tr>
                    <td>TenderReference No</td>
                    <td colspan="6">1234</td>
                  </tr>
                  <tr>
                    <td>Tender Id</td>
                    <td colspan="6">1234</td>
                  </tr>
                  <tr>
                    <td>Tender Type</td>
                    <td  colspan="3">National</td>
                    <td>Form Of Contact</td>
                    <td style="width: 346px;">1234</td>
                  </tr>
                  <tr>
                    <td>Tender category</td>
                    <td  colspan="3">National</td>
                    <td>No Of Covers</td>
                    <td>1234</td>
                  </tr>
                   <tr>
                    <td>General Technical Evaluation Allowed</td>
                    <td colspan="3">No</td>
                    <td>Itemwise technical evaluation allowed</td>
                    <td>1234</td>
                  </tr>
                  <tr>
                    <td>Payment Mode</td>
                    <td colspan="3">cash</td>
                    <td>Is multicurrency allowed for BOQ</td>
                    <td>1234</td>
                  </tr>
                  <tr>
                    <td colspan="3">TenderReference No</td>
                    <td>1234</td>
                  </tr>
                </tbody>
              </table>
            </div>
              <div class="container ">
                   <p>Tender Fee Details,[Total Fee(INR)*-6,300]</p>
               <table class="table table-bordered">
                 <tbody>
                   <tr>
                     <td>Tender Fee(INR)</td>
                     <td  colspan="3">6000</td>
                     <td>VAT charges(INR)</td>
                     <td>1234</td>
                   </tr>
                   <tr>
                     <td>Fee payble To</td>
                     <td  colspan="3">MD OTDC</td>
                     <td>Fee payble At</td>
                     <td>Bhubaneswar</td>
                   </tr>
                   <tr>
                     <td colspan="3">Tender Fee Exemption Allowed</td>
                     <td>1234</td>
                   </tr>
                 </tbody>
               </table>
             </div>
             <div class="container ">
                  <p>EMD Fee Details</p>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>EMD Amount(INR)</td>
                    <td  colspan="3">6000</td>
                    <td>EMD Exemption Allowed</td>
                    <td>1234</td>
                  </tr>
                  <tr>
                    <td>EMD Fee Type</td>
                    <td  colspan="3">Percentage</td>
                    <td>EMD Percentage</td>
                    <td>1.0%</td>
                  </tr>
                  <tr>
                    <td colspan="3">EMD Fee Type</td>
                    <td>MD OTDC</td>
                    <td>EMD Payble At</td>
                    <td>Bhubaneswar</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="container ">
                 <p>Work/Items(s)</p>
             <table class="table table-bordered">
               <tbody>
                 <tr>
                   <td>Title</td>
                   <td>Illumination</td>
                 </tr>
                 <tr>
                   <td>Work Description</td>
                   <td>Illumination</td>
                 </tr>
               </tbody>
             </table>
           </div>
         </form>
</section>
