<section class="section ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="card modal-card">
                <div class="card-block">
                    <div class="card-title-block">
                        <span class="title">
                            Boq Details :
                        </span>
                        <!-- <i class="fa fa-window-close pull-right" aria-hidden="true" ng-click="ok()"></i> -->
                        <em class="fa fa-arrows-alt pull-right" ng-click="ok()"></em>
                    </div>
                    <section class="section boqAction">
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-info">History</button>
                    </section>
                    <section class="example">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover boqDetailsTable">
                                <thead>
                                    <tr>
                                        <th ng-repeat="th in getBoqHeaders()" ng-if="th!='$$hashKey' && th!='isEdit'">{{th}}</th>
                                        <!--to avoid $$hashKey in the object-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="boq in boqData">
                                        <td ng-repeat="th in getBoqHeaders()" ng-if="th!='$$hashKey' && th!='isEdit'">
                                            <div ng-if="th == 'quantity'">
                                                <span ng-if="!boq.isEdit" class="color-black ng-binding">{{boq[th]}}</span>
                                                <em class="fa fa-edit pull-right" ng-if="!boq.isEdit" ng-click="boq.isEdit = true"></em>
                                                <input type="text" ng-if="boq.isEdit" ng-model="boq[th]" ng-blur="updateAmount(boq)">
                                            </div>
                                            <span ng-if="th != 'quantity'" class="color-black">{{boq[th]}}</span>
                                            <!-- <span class="color-black">{{boq[th]}}</span>  -->
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
