<section class="section ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="card modal-card">
                <div class="card-block">
                    <div class="card-title-block">
                        <span class="title">
                            Boq Details :
                        </span>
                        <!-- <i class="fa fa-window-close pull-right" aria-hidden="true" ng-click="ok()"></i> -->
                        <em class="fa fa-arrows-alt pull-right" ng-click="ok()"></em>
                    </div>
                    <section class="section boqAction">
                        <button type="button" class="btn btn-primary" ng-click="updateBoqData()">Save</button>
                        <button type="button" class="btn btn-info" ng-click="showBoqHistory()">History</button>
                    </section>
                    <section class="example">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover boqDetailsTable">
                                <thead>
                                    <tr>
                                        <th ng-repeat="th in UtilityService.getTableHeaders('billing',boqData[0])" ng-if="UtilityService.isAllowedHeader('boqDetails',th)">{{th}}</th>
                                        <!--to avoid $$hashKey in the object-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="boq in boqData" ng-class="{'selected':boq.verify}">
                                        <td ng-repeat="th in UtilityService.getTableHeaders('billing',boqData[0])" ng-if="UtilityService.isAllowedHeader('boqDetails',th)">
                                            <div ng-if="th == 'quantity'">
                                                <span ng-if="!boq.isEdit" class="color-black ng-binding">{{boq[th]}}</span>
                                                <em  class="fa fa-edit pull-right" ng-if="!boq.isEdit" ng-click="focusEdit(boq,$event)"></em>
                                                <div ng-if="boq.isEdit">
                                                  <span>New Values : </span>
                                                  <input type="text" ng-if="boq.isEdit"  ng-model="boq[th]" ng-blur="updateAmount(boq,'value1')">
                                                </div>
                                                <div ng-if="boq.isEdit">
                                                  <span>Add comments : </span>
                                                  <input type="text" ng-model="boq['comment']" ng-blur="updateAmount(boq,'value2')">
                                                </div>
                                            </div>
                                            <div>
                                            <span ng-if="th != 'quantity'" class="color-black">
                                              <span ng-if="th == 'totalAmountWithoutTaxes' && boq.verify" class="pull-right">
                                                <button type="button" class="btn btn-primary" ng-click="verifyBoqItem(boq,'verify')">Verify</button>
                                                <button type="button" class="btn btn-primary" ng-click="verifyBoqItem(boq,'cancel')">Cancel</button>
                                              </span>
                                              {{boq[th]}}
                                            </span>
                                            <!-- <span class="color-black">{{boq[th]}}</span>  -->
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <fieldset class="form-group">
                                <label class="control-label" for="formGroupExampleInput7">Total Amount Without Taxes  : <b> {{tender.totalAmountWithoutTaxes}}</b> </label>
                            </fieldset>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="boqHistoryModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Boq history : </h3>
            <em class="fa fa-arrows-alt pull-right modalClose" ng-click="ok()"></em>
        </div>
        <div class="modal-body">

              <table ng-table="tableParams" class="table table-bordered ngTable">
                <tr ng-repeat="row in $data">
                  <td data-title="'Sl No'" >{{ ( (tableParams.page() - 1) * tableParams.count() )+($index + 1)}}</td>
                  <td data-title="'Tendor Id'" filter="{tndId: 'text'}" sortable="'tndId'">
                    <span>{{row.tndId}}</span>
                  </td>
                  <td data-title="'User name'" filter="{userName: 'text'}" sortable="'userName'">
                    <a href="" ng-click="updateUserDetails(row)" uib-popover-template="'userDetails.html'" popover-title="User details" popover-is-open="row.isOpen">{{row.userName}}</a>

                  </td>
                  <td data-title="'Quantity'" filter="{quantity: 'text'}" sortable="'quantity'">{{row.quantity}}</td>
                  <td data-title="'Old Quantity'" filter="{quantity: 'text'}" sortable="'oldQuantity'">{{row.oldQuantity}}</td>
                  <td data-title="'Comment'" filter="{quantity: 'text'}" sortable="'comment'">{{row.comment}}</td>
                  <td data-title="'Units'" filter="{units: 'text'}" sortable="'units'">{{row.units}}</td>
                  <td data-title="'Total Amount Without Taxes'" filter="{totalAmountWithoutTaxes: 'text'}" sortable="'totalAmountWithoutTaxes'">{{row.totalAmountWithoutTaxes}}</td>
                  <td data-title="'Action'" filter="{action: 'text'}" sortable="'action'">{{row.action}}</td>
                  <td data-title="'cancel Comment'" filter="{cancelComment: 'text'}" sortable="'cancelComment'">{{row.cancelComment}}</td>
                  <td data-title="'Date'" filter="{date: 'text'}" sortable="'date'">{{row.date}}</td>


                </tr>
              </table>

        </div>
        <div class="modal-footer">

        </div>
</script>

<!-- user details pop up -->
<script type="text/ng-template" id="userDetails.html">

        <div class="form-group row">
          <label class="m-l-10">Name:</label>
          <input type="text" ng-model="userDetails.userName" ng-readonly="true" class="form-control formInput-60 m-r-10">
        </div>
        <div class="form-group row">
          <label class="m-l-10">Designation:</label>
          <input type="text" ng-model="userDetails.designation" ng-readonly="true" class="form-control formInput-60 m-r-10">
        </div>
</script>

<!-- cancel boq verification modal -->
<script type="text/ng-template" id="cancelBoqVerification.html">
    <div class="modal-header">
        <h3 class="modal-title">Cancel Boq item verification</h3>
    </div>
    <div class="modal-body">
      <form name="cancelBoqVerificationForm">
        <fieldset class="form-group" ng-class="{'has-error':cancelBoqVerificationForm.comment.$touched && cancelBoqVerificationForm.comment.$invalid}">
            <label class="control-label" for="formGroupExampleInput">Organisation Chain</label>
            <input type="text"  name="comment" ng-model="boq.cancelComment" class="form-control formInput" id="formGroupExampleInput" required>
            <span class="has-error formInput" ng-if="cancelBoqVerificationForm.comment.$touched && cancelBoqVerificationForm.comment.$invalid">Organisation Chain is invalid</span>
        </fieldset>
      </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="cancelBoqVerificationForm.$invalid" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
