<article class="content dashboard-page m-h-900" ng-init="initDashboard()">
    <section class="section">
        <div class="wrap">
            <div class="box box1 shadow1 pointer">
                <h3>On Going Project</h3>
            </div>
            <div class="box box1 shadow2 pointer">
                <h3>Completed Tender</h3>
            </div>
            <div class="box box1 shadow3 projectAppr pointer">
                <h5>Project For My Approval (3)</h5>
                <div class="row clearfix fff">
                    <div class="col-sm-6">
                        Boq verification approval (2)
                    </div>
                    <div class="col-sm-6">
                        Boq verification approval (2)
                    </div>
                </div>
            </div>
            <div class="box box2 shadow4 pointer" ng-click="getTenderByStatus('inTime')">
                <h3>On Time Projects ({{dashboard.tenderStatusCount.inTime}})</h3>
            </div>
            <div class="box box2 shadow5 pointer" ng-click="getTenderByStatus('delayed')">
                <h3>Delayed Projects ({{dashboard.tenderStatusCount.delayed}})</h3>
            </div>
            <div class="box box2 shadow6 pointer">
                <h3>Billing Report</h3>
            </div>
            <div class="box box1 shadow6 pointer">
                <h3>Tender Aging Report</h3>
            </div>
            <!-- <div class="box box1 shadow6">
                <h3>Billing Ageing Report</h3>
            </div> -->
            <div class="box box1 shadow6 pointer" ng-click="getTenderByStatus('completed')">
                <h3>Completed Projects ({{dashboard.tenderStatusCount.completed}})</h3>
            </div>
        </div>
    </section>
</article>
