<article class="content forms-page" ng-init="permissionInit()">
    <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-pill-left btn-primary btn-capsule-lg" style="width:140px !important;" ui-sref="addPermission">Add Permission</button>
            <div class="card card-block sameheight-item">
                <div class="title-block">
                    <h3 class="title">
                        Permission Mannagement
                    </h3>
                </div>
                <form name="permissionMannagementForm" role="permissionMannagementForm">

                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Select Designation</label>
                        <select ng-change="fetchWebServiceDetails()" ng-options="designation as designation.designationName for designation in permission.designations track by designation.designationId" ng-model="permission.selectedDesignation" class="form-control formInput" name="Tender_Type"></select>
                        <!-- <span class="help-block" ng-show="permission.Tender_Type.$error.required && permission.Tender_Type.$touched">select one</span> -->
                    </fieldset>
                    <!-- tender details a custom html tag to show  the tender details -->
                    <permissions ng-if="permission.webServices">
                        <div class="card card-primary" ng-repeat="webservice in permission.webServices">
                            <div class="card-header">
                                <div class="header-block">
                                    <p class="title">
                                        {{webservice.name}} Permission
                                    </p>
                                </div>
                            </div>
                            <div class="card-block">
                              <!-- Iterating over the object of the web service details of each web service -->
                                <div ng-repeat="(key, value) in webservice" ng-if="key!='name' && key!='designation' && key!='id' && key!='options'">
                                    <label>
                                        <input class="checkbox" type="checkbox" ng-checked="value" ng-model="webservice[key]">
                                        <span>{{key|webServiceName}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </permissions>
                    <fieldset class="form-group" ng-if="permission.selectedDesignation">
                        <input type="submit" class="btn btn-success" ng-disabled="permissionMannagementForm.$invalid || !checkPermission('Login','post')" ng-click="savePermission(permission)">
                        <button class="btn btn-secondary" history="">Cancel</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</article>
