<article class="content forms-page" ng-init="addProjectMilestoneInit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-block sameheight-item">
                <div class="title-block">
                    <h3 class="title">
                        Add project Milestone :
                    </h3>
                </div>
                <form name="addProjectMilestoneForm" role="addProjectMilestoneForm" ng-submit="submitProjectMilestone(addProjectMilestone)">
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Milestone Name</label>
                        <input type="text"  name="name"  ng-model="addProjectMilestone.name" class="form-control formInput" id="formGroupExampleInput" >
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Project estimation</label>
                        <input type="text"  name="estimation"  ng-model="addProjectMilestone.estimation" class="form-control formInput" id="formGroupExampleInput" >
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Start date</label>
                        <date-viewer ng-model="addProjectMilestone.startDate"   class-name="'formInput-date'"></date-viewer>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">End date</label>
                        <date-viewer ng-model="addProjectMilestone.endDate"  class-name="'formInput-date'"></date-viewer>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Finish date</label>
                        <date-viewer ng-model="addProjectMilestone.finishDate"  class-name="'formInput-date'"></date-viewer>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Status</label>
                        <select class="form-control form-control-sm formInput"  ng-model="addProjectMilestone.status">
                          <option>Pending</option>
            							<option>On-going</option>
            							<option>Completed</option>
            						</select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Finance Percentage</label>
                        <input type="text"  name="milestoneName"  ng-model="addProjectMilestone.financePercentage" class="form-control formInput" id="formGroupExampleInput">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Amount In Rs</label>
                        <input type="text"  name="milestoneName"  ng-model="addProjectMilestone.amountInRs" class="form-control formInput" id="formGroupExampleInput">
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput3">Comment</label>
                        <input type="text"  name="milestoneName"  ng-model="addProjectMilestone.comment" class="form-control formInput" id="formGroupExampleInput">
                    </fieldset>

                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-success" ng-disabled="addProjectMilestone.$invalid"></input>
                        <button class="btn btn-secondary" history>Cancel</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</article>
