<article class="content forms-page" ng-init="addTendorInit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-block sameheight-item">
                <div class="title-block">
                    <h3 class="title">
                        Add Tender
                    </h3>
                </div>
                <form role="addTendorForm" ng-submit="addTendor(addTendorForm,tender)">
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput">Organisation Chain</label>
                        <input type="text" ng-model="tender.organizationChain" class="form-control formInput formInput" id="formGroupExampleInput">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Tender_ref_No.$invalid && addTendorForm.Tender_ref_No.$touched)}">
                        <label class="control-label" for="formGroupExampleInput2">Tender Reference No</label>
                        <input type="text" ng-model="tender.referenceNo" class="form-control formInput formInput" name="Tender_ref_No" id="formGroupExampleInput2" placeholder="Enter Tender Reference No">
                        <!-- <span class="help-block" ng-show="addTendorForm.Tender_ref_No.$error.required && addTendorForm.Tender_ref_No.$touched">Please enter Tender Reference No</span>
                        <span class="help-block" ng-show="addTendorForm.Tender_ref_No.$error.pattern && addTendorForm.Tender_ref_No.$touched">Tender Reference No must be fill</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Tender_ref_No.$invalid && addTendorForm.Tender_ref_No.$touched)}">
                        <label class="control-label" for="formGroupExampleInput3">Tender Id</label>
                        <input type="text" ng-model="tender.tenderId" class="form-control formInput formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID">
                        <!-- <span class="help-block" ng-show="addTendorForm.tender_id.$error.required && addTendorForm.tender_id.$touched">Please enter Tender ID</span>
                     <span class="help-block" ng-show="addTendorForm.tender_id.$error.pattern && addTendorForm.tender_id.$touched">Tender Reference No must be fill</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Tender_type.$invalid && addTendorForm.Tender_type.$touched)}">
                        <label class="control-label" for="formGroupExampleInput3">Tender Type</label>
                        <select ng-model="tender.tenderType" ng-options="type as type.typeName for type in tender.tenderTypes" class="form-control formInput formInput" name="Tender_Type"></select>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Tender_category.$invalid && addTendorForm.Tender_category$touched)}">
                        <label class="control-label" for="formGroupExampleInput3">Tender Category</label>
                        <input type="text" ng-model="tender.category" class="form-control formInput formInput" name="tenderCategory" id="formGroupExampleInput3" placeholder="Enter Tender category">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Technical_evaluation.$invalid && addTendorForm.Technical_evaluation.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">General Technical Evaluation Allowed</label>

                        <div class="radio-wrap">
                            <label>
                                <input class="radio" ng-model="tender.genTechEvlnAllow" name="genTechEvlnAllow-radios" type="radio">
                                <span>Yes</span>
                            </label>
                            <label>
                                <input class="radio" ng-model="tender.genTechEvlnAllow" name="genTechEvlnAllow-radios" type="radio">
                                <span>No</span>
                            </label>

                        </div>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.payment_mode.$invalid && addTendorForm.payment_mode.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Payment Mode</label>
                        <select ng-model="tender.paymentMode" class="form-control formInput formInput" name="payment_mode">
                            <option>Cash</option>
                            <option>Cheque</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Multi_currency_allowed.$invalid && addTendorForm.Multi_currency_allowed.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Is MultiCurrency Allowed For Fee</label>
                        <div class="radio-wrap">
                            <label>
                                <input class="radio" ng-model="tender.isMultyCurrency" name="isMultyCurrency-radios" type="radio">
                                <span>Yes</span>
                            </label>
                            <label>
                                <input class="radio" ng-model="tender.isMultyCurrency" name="isMultyCurrency-radios" type="radio">
                                <span>No</span>
                            </label>

                        </div>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Form_of_contact.$invalid && addTendorForm.Form_of_contact.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Form Of Contact</label>
                        <select ng-model="tender.formOfContract" class="form-control formInput formInput" name="payment_mode">
                            <option>contact type 1</option>
                            <option>contact type 2</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.No_of_covers.$invalid && addTendorForm.No_of_covers.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">No Of Covers</label>
                        <input type="text" ng-model="tender.noOfCovers" name="No_of_covers" class="form-control formInput formInput" id="formGroupExampleInput4" placeholder=" Enter No Of Covers" required>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Technical_evaluation_allowed.$invalid && addTendorForm.Technical_evaluation_allowed.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Itemwise Technical Evaluation Allowed</label>
                        <div class="radio-wrap">
                            <label>
                                <input class="radio" ng-model="tender.itemTechEvlnAllow" name="itemTechEvlnAllow-radios" type="radio">
                                <span>Yes</span>
                            </label>
                            <label>
                                <input class="radio" ng-model="tender.itemTechEvlnAllow" name="itemTechEvlnAllow-radios" type="radio">
                                <span>No</span>
                            </label>

                        </div>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.BOQ_currency.$invalid && addTendorForm.BOQ_currency.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Is Multi Currency Allowed For BOQ</label>
                        <div class="radio-wrap">
                            <label>
                                <input class="radio" ng-model="tender.isMultyCurrencyBOQ" name="isMultyCurrencyBOQ-radios" type="radio">
                                <span>Yes</span>
                            </label>
                            <label>
                                <input class="radio" ng-model="tender.isMultyCurrencyBOQ" name="isMultyCurrencyBOQ-radios" type="radio">
                                <span>No</span>
                            </label>

                        </div>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Tender_fee.$invalid && addTendorForm.Tender_fee.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Tender Fee</label>
                        <input type="text" ng-model="tender.fee" name="Tender_fee" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Tender Fee">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Fee_payble_to.$invalid && addTendorForm.Fee_payble_to.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Fee Payble To</label>
                        <input type="text" ng-model="tender.payableTo" name="Fee_payble_to" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Fee Payble To">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.vat_charges.$invalid && addTendorForm.vat_charges.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">VAT Charges</label>
                        <input type="text" ng-model="tender.vat" name="vat_charges" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Vat Charges">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Fee_payble_at.$invalid && addTendorForm.Fee_payble_at.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Fee Payble At</label>
                        <input type="text" ng-model="tender.payableAt" class="form-control formInput" id="formGroupExampleInput4" name="Fee_payble_at" placeholder="Enter Fee payable at">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.emd_amount.$invalid && addTendorForm.emd_amount.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">EMD Amount(INR)</label>
                        <input type="text" ng-model="tender.emdAmt" name="emd_amount" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter EMD Amount">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.emd_fee_type.$invalid && addTendorForm.emd_fee_type.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Fee Type</label>
                        <select class="form-control formInput" ng-model="tender.emdFeeType" name="emd_fee_type">
                            <option>fee type 1</option>
                            <option>fee type 2</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.emd_payble_to.$invalid && addTendorForm.emd_payble_to.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7" name="emd_payble_to" placeholder="Enter EMD Payble To" required>EMD Payble To</label>
                        <input type="text" ng-model="tender.emdPayableTo" class="form-control formInput" id="formGroupExampleInput4" placeholder="Disabled input text">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Exemption_allowd.$invalid && addTendorForm.Exemption_allowd.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Exemption Allowed</label>
                        <div class="radio-wrap">
                            <label>
                                <input class="radio" ng-model="tender.emdExempAllow" name="emdExempAllow-radios" type="radio">
                                <span>Yes</span>
                            </label>
                            <label>
                                <input class="radio" ng-model="tender.emdExempAllow" name="emdExempAllow-radios" type="radio">
                                <span>No</span>
                            </label>

                        </div>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.EMD_Percentage.$invalid && addTendorForm.EMD_Percentage.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Percentage</label>
                        <input type="text" ng-model="tender.emdPercent" class="form-control formInput" id="formGroupExampleInput4" name="EMD_Percentage" placeholder="Enter EMD Percentage">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.EMD_payble_at.$invalid && addTendorForm.EMD_payble_at.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Payble At</label>
                        <input type="text" ng-model="tender.emdPayableAt" class="form-control formInput" id="formGroupExampleInput4" name="EMD_payble_at" placeholder="Enter EMD Payble At">
                        <span class="help-block" ng-show="addTendorForm.EMD_payble_at.$error.required && addTendorForm.EMD_payble_at.$touched">Please enter EMD Payble At</span>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.Title.$invalid && addTendorForm.Title.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">Title</label>
                        <input type="text" ng-model="tender.workTitle" class="form-control formInput" id="formGroupExampleInput4" name="Title" placeholder="Enter Tender Title">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.work_Desc.$invalid && addTendorForm.work_Desc.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">Work</label>
                        <textarea rows="3" ng-model="tender.workDescription" class="form-control formInput" id="formGroupExampleInput7" placeholder="Work Description" required></textarea>
                        <span class="help-block" ng-show="addTendorForm.work_Desc.$error.required && addTendorForm.work_Desc.$touched">Please enter payment Mode</span>
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (addTendorForm.work_Desc.$invalid && addTendorForm.work_Desc.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">Upload BOQ file</label>
                        <input type="file" class="form-control formInput" ng-model="tender.boqFile" file-select file-selected="fileSelected(fileName)"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-success"></input>
                        <button class="btn btn-secondary" history>Cancel</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</article>
