<article class="content forms-page">
<div class="row">
    <div class="col-md-12">
          <div class="card card-block sameheight-item">
                <div class="title-block">
                     <h3 class="title">
						           Edit Tender
				           	</h3>
                </div>
            <form role="form">
                  <fieldset class="form-group">
                    <label class="control-label" for="formGroupExampleInput">Organisation Chain</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                   </fieldset>
                  <fieldset class="form-group">
                    <label class="control-label" for="formGroupExampleInput2">Tender Reference No</label>
                    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Placeholder text">
                   </fieldset>
                  <fieldset class="form-group">
                     <label class="control-label" for="formGroupExampleInput3">Tender Id</label>
                     <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Placeholder text">
                   </fieldset>
                  <fieldset class="form-group">
                  <label class="control-label" for="formGroupExampleInput3">Tender Type</label>
                  <select class="form-control">
          							<option>Option one</option>
          							<option>Option two</option>
          							<option>Option three</option>
          							<option>Option four</option>
      						</select>
                </fieldset>
                <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput3">Tender Category</label>
                <select class="form-control">
      							<option>Option one</option>
      							<option>Option two</option>
      							<option>Option three</option>
      							<option>Option four</option>
						    </select>
              </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">General Technical Evaluation Allowed</label>
              <select class="form-control">
                  <option>Option one</option>
                  <option>Option two</option>
              </select>
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">Payment Mode</label>
              <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">Is MultiCurrency Allowed For Fee</label>
              <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">Form Of Contact</label>
              <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">No Of Covers</label>
              <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">Itemwise Technical Evaluation Allowed</label>
              <select class="form-control">
                  <option>Option one</option>
                  <option>Option two</option>
              </select>
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">Is Multi Currency Allowed For BOQ</label>
              <select class="form-control">
                  <option>Option one</option>
                  <option>Option two</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
            <label class="control-label" for="formGroupExampleInput4">Tender Fee</label>
            <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
          </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">Fee Payble To</label>
              <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">VAT Charges</label>
              <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">Fee Payble At</label>
              <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
              <fieldset class="form-group">
              <label class="control-label" for="formGroupExampleInput4">EMD Amount(INR)</label>
              <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput7">EMD Fee Type</label>
                <select class="form-control">
                    <option>Option one</option>
                    <option>Option two</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput7">EMD Payble To</label>
                <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput7">EMD Exemption Allowed</label>
                <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput7">EMD Percentage</label>
                <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput7">EMD Payble At</label>
                <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput7">Title</label>
                <input type="text"  class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput7">Work</label>
                    <textarea rows="3" class="form-control" id="formGroupExampleInput7"placeholder="Placeholder text"></textarea>
            </fieldset>
            <fieldset class="form-group">
                  <button type="button" class="btn btn-success">Update</button>
           </fieldset>
            </form>
        </div>
  </div>
</div>
</article>
