<article class="content item-editor-page ng-scope" ng-init="init()">
    <div class="title-block">
        <h3 class="title">
            Tender Details
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" class="ng-pristine ng-valid">
        <div class="card card-block">
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput2">Tender Ref No:</label>
                <input type="text" ng-model="tender.referenceNo" class="form-control boxed formInput" readonly="readonly" placeholder="">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput2">Tender Type:</label>
                <input type="text" ng-model="tender.tenderType" class="form-control boxed formInput" readonly="readonly" placeholder="">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput2">Tender Category:</label>
                <input type="text" ng-model="tender.category" class="form-control boxed formInput" readonly="readonly" placeholder="">
            </fieldset>
        </div>
    </form>
    <div class="title-block">
        <h3 class="title">
            Tender Milestones
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" class="ng-pristine ng-valid">
        <div class="card card-block">
            <div class="form-group row">
                <label class="col-sm-1 form-control-label text-xs-right">
                    {{tenderMilestone[0].description}}:
                </label>
                <div class="col-sm-10">
                    <date-viewer ng-model="tenderMilestone[0].startDate" disable="tenderMilestone[0].isClosed" min-date="true" max-date="true"></date-viewer>
                    <button type="button" class="btn btn-success"  ng-disabled="tenderMilestone[0].isClosed" ng-click="closeTicket(0)" >Close ticket</button>
                </div>
            </div>
            <div class="form-group row">
                <table class="table tenderMilestone" cellspacing="0" cellpadding="0" ng-if="tenderMilestone.length">

                    <tbody>
                      <tr>
                        <td>{{tenderMilestone[1].description}} <b><br/> 5 days </b><td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[1].startDate" disable="true" ></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[1].description}} Open date" >OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[1].completionDate" disable="tenderMilestone[1].isClosed ? true : false" ng-disabled="tenderMilestone[1].isClosed" max-date="true" min-date="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[1].description}} Close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[1].endDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[1].description}} End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success" ng-disabled="tenderMilestone[1].isClosed" ng-click="closeTicket(1)">Close ticket</button></td>
                          <td><span class="overDue" ng-if="tenderMilestone[1].dueDayCount">{{tenderMilestone[1].dueDayCount}} day overdue</span></td>
                      </tr>
                      <tr>
                        <td>{{tenderMilestone[2].description}} <b><br/> 3 days </b><td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[2].startDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[2].description}} Open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[2].completionDate" disable="tenderMilestone[2].isClosed ? true : false" ng-disabled="tenderMilestone[1].isClosed" max-date="true" min-date="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[2].description}} Close date" >CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[2].endDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[2].description}} End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success" ng-disabled="tenderMilestone[2].isClosed" ng-click="closeTicket(2)">Close ticket</button></td>
                          <td><span class="overDue" ng-if="tenderMilestone[2].dueDayCount">{{tenderMilestone[2].dueDayCount}} day overdue</span></td>
                      </tr>
                      <tr>
                        <td>{{tenderMilestone[3].description}} <b><br/> 2 days </b><td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[3].startDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[3].description}} Open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[3].completionDate" disable="tenderMilestone[3].isClosed ? true : false" ng-disabled="tenderMilestone[3].isClosed" max-date="true" min-date="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[3].description}} Close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[3].endDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[3].description}} End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success"  ng-disabled="tenderMilestone[3].isClosed" ng-click="closeTicket(3)">Close ticket</button></td>
                          <td><span class="overDue" ng-if="tenderMilestone[3].dueDayCount">{{tenderMilestone[3].dueDayCount}} day overdue</span></td>
                      </tr>
                      <tr>
                        <td>{{tenderMilestone[4].description}} <b><br/> 10 days </b><td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[4].startDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[4].description}} Open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[4].completionDate" disable="tenderMilestone[4].isClosed ? true : false" ng-disabled="tenderMilestone[4].isClosed" max-date="true" min-date="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[4].description}} Close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[4].endDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[4].description}} End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success" ng-disabled="tenderMilestone[4].isClosed" ng-click="closeTicket(4)">Close ticket</button></td>
                          <td><span class="overDue" ng-if="tenderMilestone[4].dueDayCount">{{tenderMilestone[4].dueDayCount}} day overdue</span></td>
                      </tr>
                      <tr>
                        <td>{{tenderMilestone[5].description}} <b><br/> 15 days </b><td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[5].startDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[5].description}} Open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <!-- <date-viewer ng-model="tenderMilestone[5].completionDate" disable="tenderMilestone[5].isClosed" max-date="true" min-date="true"></date-viewer> -->
                            <date-viewer ng-model="tenderMilestone[5].completionDate" disable="tenderMilestone[5].isClosed ? true : false" ng-disabled="tenderMilestone[5].isClosed" max-date="true" min-date="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[5].description}} Close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <date-viewer ng-model="tenderMilestone[5].endDate" disable="true"></date-viewer>
                            <span class="circular m-l-20pr" uib-tooltip="{{tenderMilestone[5].description}} End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success" ng-disabled="tenderMilestone[5].isClosed" ng-click="closeTicket(5)">Close ticket</button></td>
                          <td><span class="overDue" ng-if="tenderMilestone[5].dueDayCount">{{tenderMilestone[5].dueDayCount}} day overdue</span></td>
                      </tr>


                    </tbody>
                </table>
            </div>

        </div>
    </form>
</article>
