<article class="content dashboard-page" ng-init="tenderListInit()">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-9">
                              <div class="card">
          											<div class="card-block">
          												<div class="card-title-block">
          													<h3 class="title">Tender List</h3> </div>
          												<section class="example table-responsive">
                                    <table ng-table="tableParams" class="table table-bordered tenderList">
                                      <tr ng-repeat="row in $data">
                                        <td data-title="'Sl No'" >{{ ( (tableParams.page() - 1) * tableParams.count() )+($index + 1)}}</td>
                                        <td data-title="'Tender Id'" filter="{tenderId: 'text'}" sortable="'tenderId'">{{row.tenderId}}</td>
                                        <td data-title="'Reference No'" filter="{referenceNo: 'text'}" sortable="'referenceNo'">{{row.referenceNo}}</td>
                                        <td data-title="'Reference Id'" filter="{referenceId: 'text'}" sortable="'referenceId'">{{row.referenceId}}</td>
                                        <td data-title="'Tender Type'" filter="{tenderType: 'text'}" sortable="'tenderType'">{{row.tenderType}}</td>

                                        <td data-title="'Work Title'" filter="{workTitle: 'text'}" sortable="'workTitle'">{{row.workTitle}}</td>

                                        <td data-title="'Action'" >
                                          <div class="row list-icon">
                                            <div class="col-md-2 col-sm-3" ng-click="onAction('view',row)">
                                              <em class="fa fa-eye"></em>View
                                            </div>
                                            <div class="col-md-2 col-sm-3" ng-click="onAction('edit',row)">
                                              <em class="fa fa-edit"></em>Edit
                                            </div>
                                            <div class="col-md-3 col-sm-3" ng-if="!row.assignedToVendor" ng-click="onAction('assign',row)">
                                              <em class="fa fa-mail-forward"></em>Assign
                                            </div>
                                            <div class="col-md-4 col-sm-3" ng-click="onAction('freeze',row)">
                                              <em class="fa fa-save"></em></em>Freeze
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
          												</section>
          											</div>
          										</div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-block">
                                      <div class=" text-right">
                                        <button type="button" class="btn btn-success btn-block" ui-sref="addTender">Add New Tender</button>
                                      </div>
                                      <fieldset class="form-group m-t-10">
                                        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Enter Tender name/ID">
                                      </fieldset>
                                      <strong class="block clearfix m-t-10">Tender Status</strong>
                                      <label>
			                                     <input class="checkbox" type="checkbox">
			                                        <span>Option one</span>
			                               </label>
                                     <label>
                                         <input class="checkbox" type="checkbox">
                                            <span>Option one</span>
                                   </label>
                                   <div class="form-group m-t-10">
                                      <select class="form-control form-control-sm">
                        							<option>select Tender Type</option>
                        							<option>Option two</option>
                        							<option>Option three</option>
                        							<option>Option four</option>
                        						</select>
                                  </div>
                                  <div class=" m-t-10 ">
                                    <button type="button" class="btn btn-success btn-sm">apply</button>
                                    <button type="button" class="btn btn-success btn-sm pull-right">clear</button>
                                  </div>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </article>
