<article class="content item-editor-page ng-scope" ng-init="init()">
    <div class="title-block">
        <h3 class="title">
            Tender Details
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" class="ng-pristine ng-valid">
        <div class="card card-block">
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput2">Tender Type:</label>
                <input type="text" ng-model="tenderMilestone.tenderType" class="form-control boxed formInput" readonly="readonly" placeholder="">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput2">Tender Category:</label>
                <input type="text" ng-model="tenderMilestone.category" class="form-control boxed formInput" readonly="readonly" placeholder="">
            </fieldset>
        </div>
    </form>
    <div class="title-block">
        <h3 class="title">
            Tender Milestones
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" class="ng-pristine ng-valid">
        <div class="card card-block">
            <div class="form-group row">
                <label class="col-sm-1 form-control-label text-xs-right">
                    Recept of Document:
                </label>
                <div class="col-sm-10">
                    <date-viewer ng-model="tenderMilestone.docReceiveDate"></date-viewer>
                    <button type="button" class="btn btn-success">Close ticket</button>
                </div>
            </div>
            <div class="form-group row">
                <table class="table tenderMilestone" cellspacing="0" cellpadding="0">
                    <!-- <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead> -->
                    <tbody>
                      <tr>
                        <td>Opening of the financial bid<td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>
                      <tr>
                        <td>Opening of the financial bid<td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>
                      <tr>
                        <td>Opening of the financial bid<td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            10-10-2016
                            <span class="circular m-l-20pr">CD</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </form>
</article>
