<article class="content forms-page" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-block sameheight-item">
                <div class="title-block">
                    <h3 class="title">
                        Tender Details
                    </h3>
                </div>
                <form role="tenderDetails" ng-submit="addTendor(tenderDetails,tender)">
                    <fieldset class="form-group">
                        <label class="control-label" for="formGroupExampleInput">Organisation Chain</label>
                        <input type="text" ng-model="tender.organizationChain" ng-readonly="isView" class="form-control formInput" id="formGroupExampleInput">
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Tender_ref_No.$invalid && tenderDetails.Tender_ref_No.$touched)}">
                        <label class="control-label" for="formGroupExampleInput2">Tender Reference No</label>
                        <input type="text" ng-model="tender.referenceNo" ng-readonly="isView" class="form-control formInput" name="Tender_ref_No" id="formGroupExampleInput2" placeholder="Enter Tender Reference No">
                        <!-- <span class="help-block" ng-show="tenderDetails.Tender_ref_No.$error.required && tenderDetails.Tender_ref_No.$touched">Please enter Tender Reference No</span>
                        <span class="help-block" ng-show="tenderDetails.Tender_ref_No.$error.pattern && tenderDetails.Tender_ref_No.$touched">Tender Reference No must be fill</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Tender_ref_No.$invalid && tenderDetails.Tender_ref_No.$touched)}">
                        <label class="control-label" for="formGroupExampleInput3">Tender Id</label>
                        <input type="text" ng-model="tender.tenderId" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID">
                        <!-- <span class="help-block" ng-show="tenderDetails.tender_id.$error.required && tenderDetails.tender_id.$touched">Please enter Tender ID</span>
                     <span class="help-block" ng-show="tenderDetails.tender_id.$error.pattern && tenderDetails.tender_id.$touched">Tender Reference No must be fill</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Tender_type.$invalid && tenderDetails.Tender_type.$touched)}">
                        <label class="control-label" for="formGroupExampleInput3">Tender Type</label>
                        <input type="text" ng-model="tender.tenderType" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />
                        <select ng-model="tender.tenderType" class="form-control formInput" name="Tender_Type" ng-if="!isView">
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                        </select>
                        <!-- <span class="help-block" ng-show="tenderDetails.Tender_Type.$error.required && tenderDetails.Tender_Type.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Tender_category.$invalid && tenderDetails.Tender_category$touched)}">
                        <label class="control-label" for="formGroupExampleInput3">Tender Category</label>
                        <input type="text" ng-model="tender.category" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />
                        <select ng-model="tender.category" ng-if="!isView" class="form-control formInput" name="Tender_category">
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                        </select>
                        <!-- <span class="help-block" ng-show="tenderDetails.Tender_category.$error.required && tenderDetails.Tender_category.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Technical_evaluation.$invalid && tenderDetails.Technical_evaluation.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">General Technical Evaluation Allowed</label>
                          <input type="text" ng-model="tender.genTechEvlnAllow" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />
                        <select ng-model="tender.genTechEvlnAllow" ng-if="!isView" class="form-control formInput" name="Technical_evaluation">
                            <option>Option one</option>
                            <option>Option two</option>
                        </select>
                        <!-- <span class="help-block" ng-show="tenderDetails.Technical_evaluation.$error.required && tenderDetails.Technical_evaluation.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.payment_mode.$invalid && tenderDetails.payment_mode.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Payment Mode</label>
                        <input type="text" ng-model="tender.paymentMode" ng-readonly="isView" name="payment_mode" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Payment Mode">
                        <!-- <span class="help-block" ng-show="tenderDetails.payment_mode.$error.required && tenderDetails.payment_mode.$touched">Please enter payment Mode</span>
                <span class="help-block" ng-show="tenderDetails.payment_mode.$error.pattern && tenderDetails.payment_mode.$touched">payment mode must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Multi_currency_allowed.$invalid && tenderDetails.Multi_currency_allowed.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Is MultiCurrency Allowed For Fee</label>
                        <input type="text" ng-model="tender.isMultyCurrency" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />
                        <select ng-model="tender.isMultyCurrency" ng-if="!isView" class="form-control formInput" name="Multi_currency_allowed">
                            <option>Select One</option>
                            <option>Yes</option>
                        </select>
                        <!-- <span class="help-block" ng-show="tenderDetails.Multi_currency_allowed.$error.required && tenderDetails.Multi_currency_allowed.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Form_of_contact.$invalid && tenderDetails.Form_of_contact.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Form Of Contact</label>
                        <input type="text" ng-model="tender.formOfContract" ng-readonly="isView" name="Form_of_contact" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Form Of Contact">
                        <!-- <span class="help-block" ng-show="tenderDetails.Form_of_contact.$error.required && tenderDetails.Form_of_contact.$touched">Please enter Form Of Contact</span>
                <span class="help-block" ng-show="tenderDetails.Form_of_contact.$error.pattern && tenderDetails.Form_of_contact.$touched">Form Of Contact must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.No_of_covers.$invalid && tenderDetails.No_of_covers.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">No Of Covers</label>
                        <input type="text" ng-model="tender.noOfCovers" ng-readonly="isView" name="No_of_covers" class="form-control formInput" id="formGroupExampleInput4" placeholder=" Enter No Of Covers" required>
                        <!-- <span class="help-block" ng-show="tenderDetails.No_of_covers.$error.required && tenderDetails.No_of_covers.$touched">Please enter payment Mode</span>
                <span class="help-block" ng-show="tenderDetails.No_of_covers.$error.pattern && tenderDetails.No_of_covers.$touched">payment mode must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Technical_evaluation_allowed.$invalid && tenderDetails.Technical_evaluation_allowed.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Itemwise Technical Evaluation Allowed</label>
                          <input type="text" ng-model="tender.itemTechEvlnAllow" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />
                        <select class="form-control formInput" ng-model="tender.itemTechEvlnAllow" ng-if="!isView"  name="Technical_evaluation_allowed">
                            <option>Option one</option>
                            <option>Option two</option>
                        </select>
                        <!-- <span class="help-block" ng-show="Technical_evaluation_allowed.$error.required && Technical_evaluation_allowed.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.BOQ_currency.$invalid && tenderDetails.BOQ_currency.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Is Multi Currency Allowed For BOQ</label>
                        <input type="text" ng-model="tender.isMultyCurrencyBOQ" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />

                        <select ng-model="tender.isMultyCurrencyBOQ" ng-if="!isView" class="form-control formInput" name="BOQ_currency">
                            <option>Option one</option>
                            <option>Option two</option>
                        </select>
                        <!-- <span class="help-block" ng-show="tenderDetails.BOQ_currency.$error.required && tenderDetails.BOQ_currency.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Tender_fee.$invalid && tenderDetails.Tender_fee.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Tender Fee</label>
                        <input type="text" ng-model="tender.fee" ng-readonly="isView" name="Tender_fee" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Tender Fee">
                        <!-- <span class="help-block" ng-show="tenderDetails.Tender_fee.$error.required && tenderDetails.Tender_fee.$touched">Please enter Tender Fee</span>
                <span class="help-block" ng-show="tenderDetails.Tender_fee.$error.pattern && tenderDetails.Tender_fee.$touched">Tender Fee must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Fee_payble_to.$invalid && tenderDetails.Fee_payble_to.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Fee Payble To</label>
                        <input type="text" ng-model="tender.payableTo" ng-readonly="isView" name="Fee_payble_to" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Fee Payble To">
                        <!-- <span class="help-block" ng-show="tenderDetails.Fee_payble_to.$error.required && tenderDetails.Fee_payble_to.$touched">Please enter Fee Payble to</span>
                  <span class="help-block" ng-show="tenderDetails.Fee_payble_to.$error.pattern && tenderDetails.Fee_payble_to.$touched">Fee Payble to must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.vat_charges.$invalid && tenderDetails.vat_charges.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">VAT Charges</label>
                        <input type="text" ng-model="tender.vat" ng-readonly="isView" name="vat_charges" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter Vat Charges">
                        <!-- <span class="help-block" ng-show="tenderDetails.vat_charges.$error.required && tenderDetails.vat_charges.$touched">Please enter vat charges</span>
                    <span class="help-block" ng-show="tenderDetails.vat_charges.$error.pattern && tenderDetails.vat_charges.$touched">vat charges must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Fee_payble_at.$invalid && tenderDetails.Fee_payble_at.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">Fee Payble At</label>
                        <input type="text" ng-model="tender.payableAt" ng-readonly="isView" class="form-control formInput" id="formGroupExampleInput4" name="Fee_payble_at" placeholder="Enter Fee payable at">
                        <!-- <span class="help-block" ng-show="tenderDetails.Fee_payble_at.$error.required && tenderDetails.Fee_payble_at.$touched">Please enter Fee Payble At</span>
                 <span class="help-block" ng-show="tenderDetails.Fee_payble_at.$error.pattern && tenderDetails.Fee_payble_at.$touched">Fee Payble At must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.emd_amount.$invalid && tenderDetails.emd_amount.$touched)}">
                        <label class="control-label" for="formGroupExampleInput4">EMD Amount(INR)</label>
                        <input type="text" ng-model="tender.emdAmt" ng-readonly="isView" name="emd_amount" class="form-control formInput" id="formGroupExampleInput4" placeholder="Enter EMD Amount">
                        <!-- <span class="help-block" ng-show="tenderDetails.emd_amount.$error.required && tenderDetails.emd_amount.$touched">Please enter EMD Amount</span>
                 <span class="help-block" ng-show="tenderDetails.emd_amount.$error.pattern && tenderDetails.emd_amount.$touched">EMD Amount must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.emd_fee_type.$invalid && tenderDetails.emd_fee_type.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Fee Type</label>
                        <input type="text" ng-model="tender.emdFeeType" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />

                        <select class="form-control formInput" ng-model="tender.emdFeeType" ng-if="!isView"  name="emd_fee_type">
                            <option>Option one</option>
                            <option>Option two</option>
                        </select>
                        <!-- <span class="help-block" ng-show="tenderDetails.emd_fee_type.$error.required && tenderDetails.emd_fee_type.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.emd_payble_to.$invalid && tenderDetails.emd_payble_to.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7" name="emd_payble_to" placeholder="Enter EMD Payble To" required>EMD Payble To</label>
                        <input type="text" ng-model="tender.emdPayableTo" ng-readonly="isView" class="form-control formInput" id="formGroupExampleInput4" placeholder="Disabled input text">
                        <!-- <span class="help-block" ng-show="tenderDetails.emd_payble_to.$error.required && tenderDetails.emd_payble_to.$touched">Please enter EMD Payble To</span>
                <span class="help-block" ng-show="tenderDetails.emd_payble_to.$error.pattern && tenderDetails.emd_payble_to.$touched">EMD Payble To must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Exemption_allowd.$invalid && tenderDetails.Exemption_allowd.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Exemption Allowed</label>
                        <input type="text" ng-model="tender.emdExempAllow" ng-if="isView" ng-readonly="isView" class="form-control formInput" name="tender_id" id="formGroupExampleInput3" placeholder="Enter Tender ID" />

                        <select ng-model="tender.emdExempAllow" ng-if="!isView"  class="form-control formInput" name="Exemption_allowd" required>
                            <option>Option one</option>
                            <option>Option two</option>
                        </select>
                        <!-- <span class="help-block" ng-show="tenderDetails.Exemption_allowd.$error.required && tenderDetails.Exemption_allowd.$touched">select one</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.EMD_Percentage.$invalid && tenderDetails.EMD_Percentage.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Percentage</label>
                        <input type="text" ng-model="tender.emdPercent" ng-readonly="isView" class="form-control formInput" id="formGroupExampleInput4" name="EMD_Percentage" placeholder="Enter EMD Percentage">
                        <!-- <span class="help-block" ng-show="tenderDetails.EMD_Percentage.$error.required && tenderDetails.EMD_Percentage.$touched">Please enter EMD Percentage</span>
                  <span class="help-block" ng-show="tenderDetails.EMD_Percentage.$error.pattern && tenderDetails.EMD_Percentage.$touched">EMD Percentage must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.EMD_payble_at.$invalid && tenderDetails.EMD_payble_at.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">EMD Payble At</label>
                        <input type="text" ng-model="tender.emdPayableAt" ng-readonly="isView" class="form-control formInput" id="formGroupExampleInput4" name="EMD_payble_at" placeholder="Enter EMD Payble At">
                        <span class="help-block" ng-show="tenderDetails.EMD_payble_at.$error.required && tenderDetails.EMD_payble_at.$touched">Please enter EMD Payble At</span>
                        <!-- <span class="help-block" ng-show="tenderDetails.EMD_payble_at.$error.pattern && tenderDetails.EMD_payble_at.$touched">EMD Payble At must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.Title.$invalid && tenderDetails.Title.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">Title</label>
                        <input type="text" ng-model="tender.workTitle" ng-readonly="isView" class="form-control formInput" id="formGroupExampleInput4" name="Title" placeholder="Enter Tender Title">
                        <!-- <span class="help-block" ng-show="tenderDetails.Title.$error.required && tenderDetails.Title.$touched">Please enter Tender Title</span>
                <span class="help-block" ng-show="tenderDetails.Title.$error.pattern && tenderDetails.Title.$touched">Tender Title must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-class="{'has-error': (tenderDetails.work_Desc.$invalid && tenderDetails.work_Desc.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">Work</label>
                        <textarea rows="3" ng-model="tender.workDescription" ng-readonly="isView" class="form-control formInput" id="formGroupExampleInput7" placeholder="Work Description" required></textarea>
                        <span class="help-block" ng-show="tenderDetails.work_Desc.$error.required && tenderDetails.work_Desc.$touched">Please enter payment Mode</span>
                        <!-- <span class="help-block" ng-show="tenderDetails.work_Desc.$error.pattern && tenderDetails.work_Desc.$touched">payment mode must be entered</span> -->
                    </fieldset>
                    <fieldset class="form-group" ng-if="tenderDetails.isFreeze == 'NO'" ng-class="{'has-error': (tenderDetails.work_Desc.$invalid && tenderDetails.work_Desc.$touched)}">
                        <label class="control-label" for="formGroupExampleInput7">Upload BOQ file</label>
                        <input type="file" class="form-control formInput" ng-model="tenderDetails.boqFile" file-select file-selected="fileSelected(fileName)"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" ng-if="!isView" class="btn btn-success" ng-click="updateTender(tender)"></input>
                        <button ng-if="isView" class="btn btn-success" ui-sref="tenderDetails({tenderId: tender.tenderId,action: 'edit'})" >Edit</button>
                        <button type="button" class="btn btn-success" ng-click="showBoq()">BOQ</button>
                        <button ui-sref="tenderList" class="btn btn-secondary" ui-sref="tenderList" history>{{isView ? 'Back' : 'Cancel'}}</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</article>
