<article class="content dashboard-page" ng-init="tenderListInit()">
                    <section class="section">
                        <div class="row">
                            <div class="col-md-12">
                              <button type="button" class="btn btn-pill-left btn-primary btn-capsule" ui-sref="addTender">Add Tender</button>
                              <div class="card">
          											<div class="card-block">
          												<div class="card-title-block">
          													<h3 class="title">Tender List</h3> </div>
          												<section class="example table-responsive">
                                    <table ng-table="tableParams" class="table table-bordered tenderList">
                                      <tr ng-repeat="row in $data">
                                        <td data-title="'Sl No'" >{{ ( (tableParams.page() - 1) * tableParams.count() )+($index + 1)}}</td>
                                        <td data-title="'Tender Id'" filter="{tndId: 'text'}" sortable="'tndId'">{{row.tndId}}</td>
                                        <td data-title="'Reference No'" filter="{referenceNo: 'text'}" sortable="'referenceNo'">{{row.referenceNo}}</td>
                                        <td data-title="'Reference Id'" filter="{referenceId: 'text'}" sortable="'referenceId'">{{row.referenceId}}</td>
                                        <td data-title="'Tender Type'" filter="{ tenderType: 'text'}"  sortable="'tenderType'">{{row.tenderType}}</td>
                                        <!-- <td data-title="'Tender Type'" filter="{tenderType: 'text'}" sortable="'tenderType'">{{row.tenderType}}</td> -->

                                        <td data-title="'Work Title'" filter="{workTitle: 'text'}" sortable="'workTitle'">{{row.workTitle}}</td>

                                        <td data-title="'Action'" >
                                          <div class="row list-icon">
                                            <div class="col-md-2 col-sm-2" ng-click="onAction('view',row)">
                                              <em class="fa fa-eye"></em>View
                                            </div>
                                            <div class="col-md-2 col-sm-2" ng-click="onAction('edit',row)">
                                              <em class="fa fa-edit"></em>Edit
                                            </div>
                                            <div class="col-md-2 col-sm-2" ng-if="!row.assignedToVendor" ng-click="onAction('assign',row)">
                                              <em class="fa fa-mail-forward"></em>Assign
                                            </div>
                                            <div class="col-md-2 col-sm-2" ng-class="{'activeTheme':row.isFreeze == 'YES'}"  ng-click="row.isFreeze == 'NO' ? onAction('freeze',row) : null">
                                              <em class="fa fa-save"></em></em>Freeze
                                            </div>
                                            <div class="col-md-2 col-sm-2" ng-click="onAction('tenderMile',row)">
                                              <em class="fa fa-bar-chart-o"></em></em>Tender Milestone
                                            </div>
                                            <div class="col-md-2 col-sm-2" ng-click="onAction('projMile',row,$data)">
                                              <em class="fa fa-bar-chart-o"></em></em>Project Milestone
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
          												</section>
          											</div>
          										</div>
                            </div>

                        </div>
                    </section>


                </article>
