<article class="content item-editor-page ng-scope" ng-init="init()">
    <div class="title-block">
        <h3 class="title">
            Tender Details
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" class="ng-pristine ng-valid">
        <div class="card card-block">
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput2">Tender Type:</label>
                <input type="text" ng-model="tenderMilestone.tenderType" class="form-control boxed formInput" readonly="readonly" placeholder="">
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label" for="formGroupExampleInput2">Tender Category:</label>
                <input type="text" ng-model="tenderMilestone.category" class="form-control boxed formInput" readonly="readonly" placeholder="">
            </fieldset>
        </div>
    </form>
    <div class="title-block">
        <h3 class="title">
            Tender Milestones
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" class="ng-pristine ng-valid">
        <div class="card card-block">
            <div class="form-group row">
                <label class="col-sm-1 form-control-label text-xs-right">
                    Recept of Document:
                </label>
                <div class="col-sm-10">
                    <date-viewer ng-model="tenderMilestone.docReceiveDate"></date-viewer>
                    <button type="button" class="btn btn-success">Close ticket</button>
                </div>
            </div>
            <div class="form-group row">
                <table class="table tenderMilestone" cellspacing="0" cellpadding="0">
                    <!-- <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead> -->
                    <tbody>
                      <tr>
                        <td>Techical Bid<td>
                          <td>
                            <input date-input ng-model="tenderMilestone.techBid_od" />
                            <span class="circular m-l-20pr" uib-tooltip="Techical Bid Open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.techBid_cd" />
                            <span class="circular m-l-20pr" uib-tooltip="Techical Bid Close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.techBid_ed" />
                            <span class="circular m-l-20pr" uib-tooltip="Techical Bid End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>
                      <tr>
                        <td>Opening of the financial bid<td>
                          <td>
                            <input date-input ng-model="tenderMilestone.finance_od" />
                            <span class="circular m-l-20pr" uib-tooltip="financial Bid Open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                          <input date-input ng-model="tenderMilestone.finance_cd" />
                            <span class="circular m-l-20pr" uib-tooltip="financial Bid close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.finance_ed" />
                            <span class="circular m-l-20pr" uib-tooltip="financial Bid End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>
                      <tr>
                        <td>Approval of the tender date <td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_od" />
                            <span class="circular m-l-20pr" uib-tooltip="tender approval open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_cd" />
                            <span class="circular m-l-20pr" uib-tooltip="tender approval close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_ed" />
                            <span class="circular m-l-20pr" uib-tooltip="ftender approval End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>

                      <tr>
                        <td>Signing aggrement <td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_od" />
                            <span class="circular m-l-20pr" uib-tooltip="Signing aggrement open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_cd" />
                            <span class="circular m-l-20pr" uib-tooltip="Signing aggrement close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_ed" />
                            <span class="circular m-l-20pr" uib-tooltip="Signing aggrement End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>
                      <tr>
                        <td>Handing over the site <td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_od" />
                            <span class="circular m-l-20pr" uib-tooltip="Handing over the site open date">OD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_cd" />
                            <span class="circular m-l-20pr" uib-tooltip="Handing over the site close date">CD</span>
                          </td>
                          <td><hr/></td>
                          <td>
                            <input date-input ng-model="tenderMilestone.tenderApp_ed" />
                            <span class="circular m-l-20pr" uib-tooltip="Handing over the site End date">ED</span>
                          </td>
                          <td><button type="button" class="btn btn-success">Close ticket</button></td>
                      </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </form>
</article>
